@model Cinema.Models.MovieViewModel

@{
    ViewBag.Title = "NewListing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>NewListing</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Trailers</label>
            <div class="col-md-10">
                @foreach (var t in Model.Trailer) {
                    <iframe width="280" height="180" src="https://www.youtube.com/embed/@t.key" frameborder="0" allowfullscreen></iframe>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" id="PriceLabel">Price of @Model.Movie.Title</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" id="Price" name="Price" type="number" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Price" data-valmsg-replace="true"></span>
            </div>
        </div>

        @*<div class="form-group">
                <label class="control-label col-md-2" for="Backdrop_path">Backdrop_path</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Backdrop_path" name="Backdrop_path" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Backdrop_path" data-valmsg-replace="true"></span>
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Which room to play @Model.Movie.Title in?</label>
            <div class="col-md-10">
                @*@Html.DropDownListFor(x => x.Screen.Id,new SelectList(Model.Screen., "Value", "Text"))*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script>
        var bookingPrice = 1;
        var getPrice;
        var fullPrice;
        $('#Price').on('input', function (e) {
            getPrice = parseInt($('#Price').val());
            fullPrice = getPrice + bookingPrice;
            $("#PriceLabel").html("Price of @Model.Movie.Title: " + fullPrice);
            if (isNaN(fullPrice)) {
                $("PriceLabel").html("Price of @Model.Movie.Title: " + bookingPrice + "(booking fee)");
            }
        });


    </script>


}